<h1>Doctor Index Page</h1>

<h2>Doctor Information</h2>
<% @doctors.each do |doctor| %>
  <section id="doctor-<%= doctor.id%>">
    <ul>
      <li><%= "Name: #{doctor.name}"%></li>
      <li><%= "Years Practiced: #{doctor.years_practiced}"%></li>
      <li><%= "University: #{doctor.university}"%></li>
    </ul>
  </section>
<% end %>
